<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-2">
      <form #signUpForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="userName">USER NAME</label>
          <input type="text" ngModel #userName="ngModel" name="userName" class="form-control" required minlength="6"
            maxlength="10" pattern="^[a-zA-Z ]*$">

          <strong class="text-danger" *ngIf="userName.touched && userName.hasError('required')">
            UserName Is Required Field !!!
          </strong>

          <ng-container *ngIf="userName.dirty">

            <strong class="text-danger" *ngIf="userName.hasError('minlength')">
              Minimum Length Should Be {{userName.errors?.['minlength'].requiredLength}} And
              The Actual Length is {{userName.errors?.['minlength'].actualLength}}
            </strong>


            <strong class="text-danger" *ngIf="userName.hasError('maxlength')">
              Maximum Lenth Should Be {{userName.errors?.['maxlength'].requiredLength}} And
              The Actual Length Is {{userName.errors?.['maxlength'].actualLength}}
            </strong>

            <strong class="text-danger" *ngIf="userName.hasError('pattern')">
              Letters Only No Special Character And Numbers Allows
            </strong>
          </ng-container>
        </div>

        <div class="form-group">
          <label for="email">EMAIL</label>
          <input type="text" ngModel name="email" #email="ngModel" class="form-control"
          required
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,100}$"
        >

          <strong class="text-danger" *ngIf="email.touched && email.hasError('required')">
            Email Field Is Required !!!
          </strong>

          <strong class="text-danger" *ngIf="email.dirty && email.hasError('pattern')">
            Please Enter Valid Email !!!
          </strong>
        </div>

        <div class="form-group">
          <label for="secreteQuestion">SECRETE QUESTION</label>
          <select name="secreteQuestion" ngModel #secreteQuestion="ngModel" class="form-control" required>
          <option value="favBook">FAVOURITE BOOK</option>
          <option value="favSport">FAVOURITE SPORT</option>
          <option value="favPlace">FAVOURITE PLACE</option>
          </select>

          <strong class="text-danger" *ngIf="secreteQuestion.touched && secreteQuestion.hasError('required')">
            Secrete Question Is Required Field !!!
          </strong>
        </div>

        <div class="form-group">
          <label for="answer">ANSWER</label>
          <textarea type="text" rows="2" class="form-control" ngModel name="answer" #answer="ngModel" required>
          </textarea>
          <strong class="text-danger" *ngIf="answer.touched && answer.hasError('required')">
            Answer Is Required Field !!!
          </strong>
        </div>

        <!-- <div class="form-group">
          <label for="isSubsscribe">
            <input type="checkbox" required class="form-control" ngModel name="isSubsscribe" 
            [value]="false" class="form-control"
            #isSubsscribe="ngModel">
            Subscribe For Daily Mails !!!!
          </label>
        </div> -->

        <div class="form-group">
          <label [for]="mod.contactMode" *ngFor="let mod of modCon;" class="p-3" >
            <input type="radio" name="modOfContact" ngModel [value]="mod.contactMode">

            {{mod.contactMode}}
          </label>
        </div>

        
        <button [disabled]="signUpForm.invalid"  class="btn btn-primary mr-5">SIGN UP</button>

         <button class="btn btn-primary" type="button"
         (click)="patchData()" >EDIT FORM </button>
      </form>
    </div>
  </div>
</div>

 